*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'helvetics neue';
  color:rgb(7, 7, 7)
}

html, body{
  height: 100%;
  width: 100%;
  background-color:#111;
}

.parent{
  min-height: 100vh;
  height:100vh;
  width: 100;
  padding: 20px;
  display: flex;
  gap:30px;
  flex-wrap:wrap;
}

.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid darkblue;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border:1.5px solid rgba(245, 188, 188, 0.356);
  padding:4px 8px;
  font-size: 14px;
  border-radius: 5px;
  gap:3px;
  background-color: transparent;
  color:#b1b1b1;
}
.center{
  background-color: rgb(246, 244, 244);
}

.center h3 span{
  font-weight: 400;
  padding-left: 4px;
  font-size: 12px;
  color:#8b8b8b
}

.center h2{
  font-size: 22px;
  display: flex;
}

.center .tag{
  display: flex;
  gap:3px;
}

.center .tag h4{
  font-size: 12px;
  color:#111;
  background-color: #c5afaf;
  padding: 3px 6px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom button{
  background-color: #111;
  color:white;
  padding:5px 10px;
  border:none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;
  ;
}

.bottom p{
  font-size: 10px;
}